body, TD, OPTION{
	font-family: Arial, Helvetica, sans-serif; background-color:black; color:white;font-size:12px;
	scrollbar-arrow-color: White;
	scrollbar-face-color: Black;
	scrollbar-base-color: Black;
	margin: 0px;
}
/*P{margin: 0px;}*/
#content{position:absolute; left:105px; top:78px; width:495px; z-index:2;}
#contentonderimg{position:absolute; left:105px; top:180px; width:495px; z-index:2;}
#contentlinkjes A{margin:10px;}
#fotolaag{border-top:1px solid white;border-bottom:1px solid white; padding-top:10px;padding-bottom:10px}


.breedte{width:300px;border:none;}
.breedteklein{width:330px;border:none;background-color:black}
.breedtegoed{width:450px;border:none;background-color:black}
 .reset {
 font-size: 10px;
 background-color: black;
 color: #FFFFFF;
 width:50px;
}
A{color:white;text-decoration:none;}
A:hover{text-decoration:underline}
/*TABEL met linkjes*/
TABLE.linkjes{padding:4px;}
/*formulier reageer*/
FORM.reageer{
 border: 1px solid white;
 padding: 5px;

}
TABLE.reageer1, TD.reageer1{padding:10px;height:30px;vertical-align:top;}
INPUT.reageer2 {background-color:black;color:white;}

.kop26px{font-size: 26px; font-weight: normal;  }
.kop18px{font-size: 18px; font-weight: normal;  }
.kop14px { font-size: 14px; font-weight: normal;}
